export FLASK_APP=run.py
export FLASK_ENV=development
export FLASK_DEBUG=1
export DATABASE_URL=postgresql://postgres:password@localhost:5432/your_db_name
export SECRET_KEY=your_secret_key
export MAIL_SERVER=smtp.googlemail.com
export MAIL_PORT=587
export MAIL_USE_TLS=1
