SECRET_KEY=your-secret-key-here
DATABASE_URL=sqlite:///path-to-your-database.db
SECURITY_PASSWORD_SALT=your-password-salt-here
FRONTEND_URL=http://localhost:5173
export FLASK_APP=run.py
export FLASK_ENV=development
export FLASK_DEBUG=1
export MAIL_SERVER=smtp.googlemail.com
export MAIL_PORT=587
export MAIL_USE_TLS=1
export MAIL_USERNAME="your-email@example.com"
export MAIL_PASSWORD="your-email-password"
JWT_SECRET_KEY=your-jwt-secret-key-here
