
.manage-store-page {
  display: flex;
  background-color: #f8f9fa; /* Light grey background for the whole page */
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

/* Right Side Bar */
.right-sidebar {
  width: 300px;
  background-color: #ffffff;
  padding: 20px;
  border-left: 1px solid #e0e0e0;
  overflow-y: auto;
  color: #333
}

/* Inbox.css */
.inbox {
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 15px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f9fa;
}

.inbox h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.message {

  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.message:last-child {
  border-bottom: none;
}

.message p {
  margin: 5px 0;
}

.message strong {
  font-size: 14px;
}

.message span {
  float: right;
  color: #888;
}

.unread {
  background-color: #27D8C3;
  border-radius: 5px;
}

.read {
  color: #555;
}
/*Search bar and notification bell*/

input[type="search"], .search-bar {
  background-color: #f8f9fa; /* Light grey color */
  color: #333; /* Text color */
  border: 1px solid #ccc; /* Optional: adjust the border color */
}

.inbox-header{
display: flex;

}
.search-bar {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
}

.notification-bell {
  margin-left: 10px;
  font-size: 30px;
  cursor: pointer;
}

/* AdminActivity.css */
.admin-activity {
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f9fa;
  margin-right: 15px;
}

.admin-activity h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.admin-activity ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.admin-activity li {
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
}


/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.header input[type="text"] {
  background-color: #f8f9fa;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #ced4da;
  width: 300px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}



.name {
  color: #495057 !important;
  font-weight: bold;
}

.title {
  color: #27D8C3 !important;
}

/* Store list styles */
.store-list {
  background-color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 700px; 
  overflow-y: auto; 
}

.add-store {
  background-color: #27D8C3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 20px;
  margin-left: 12px;
  cursor: pointer;
}

.store {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #dee2e6;
}

.store img {
  width: 100px;
  border-radius: 10px;
}

.store-info {
  flex-grow: 1;
  margin-left: 20px;
}

.store-info h3 {
  margin: 0;
  color: #17a2b8;
  font-size: 1.25rem;
}

.store-info p {
  margin: 5px 0;
  color: #6c757d;
}

.edit-store {
  background-color: white;
  color: #27D8C3;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.save-store {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}


/* Light Theme */
/* body.light {
  --background-color: #ffffff;
  --text-color: #000000;
  --sidebar-background: #f0f0f0;
  --button-background: #f0f0f0;
  --button-text: #000000;
} */

/* Dark Theme */
/* body.dark {
  --background-color: #121212;
  --text-color: #ffffff;
  --sidebar-background: #333333;
  --button-background: #333333;
  --button-text: #ffffff;
} */

/* General Theme-Related Styles */
/* body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.right-sidebar {
  background-color: var(--sidebar-background);
}
.theme-toggle {
  background-color: var(--button-background);
  color: var(--button-text);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.theme-toggle:hover {
  opacity: 0.8;
} */