.container {
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;
    padding: 25px 24px;
  }
  
  @media (max-width: 991px) {
    .container {
      padding: 0 20px;
    }
  }
  
  .statsWrapper {
    align-self: start;
    display: flex;
    flex-direction: column;
  }
  
  .statsLabel {
    color: #4d4d4d;
    font-feature-settings: "liga" off, "clig" off;
    font-size: 14px;
    letter-spacing: -0.15px;
    align-self: start;
  }
  
  .statsValue {
    color: var(--Base-Shade-100, #000);
    font-size: 24px;
    font-weight: 700;
    align-self: start;
    margin-top: 21px;
  }
  
  .statsList {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 68px;
  }
  
  @media (max-width: 991px) {
    .statsList {
      margin: 40px 6px 0 0;
    }
  }
  
  .statsImage {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 143px;
    border-radius: 5px;
    align-self: end;
    margin-top: 77px;
    max-width: 100%;
  }
  
  @media (max-width: 991px) {
    .statsImage {
      margin-top: 40px;
    }
  }
  