.container {
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: Inter, sans-serif;
    font-weight: 600;
    margin: 0 auto;
    padding: 22px 20px;
  }
  
  @media (max-width: 991px) {
    .container {
      max-width: 100%;
      margin-top: 16px;
    }
  }
  
  .title {
    color: #4d4d4d;
    font-size: 14px;
    letter-spacing: -0.15px;
    align-self: start;
  }
  
  .divider {
    background-color: #e4e5e7;
    margin-top: 11px;
    height: 1px;
  }
  
  @media (max-width: 991px) {
    .divider {
      max-width: 100%;
    }
  }
  
  .chartContainer {
    display: flex;
    margin-top: 23px;
    gap: 18px;
    font-size: 10px;
    color: var(--Base-Shade-100, #000);
    white-space: nowrap;
    text-align: right;
    line-height: 1;
    flex-wrap: wrap;
  }
  
  @media (max-width: 991px) {
    .chartContainer {
      max-width: 100%;
      white-space: initial;
    }
  }
  
  .yAxis {
    align-self: start;
    display: flex;
    flex-direction: column;
  }
  
  @media (max-width: 991px) {
    .yAxis {
      white-space: initial;
    }
  }
  
  .yAxisLabel {
    margin-top: 28px;
  }
  
  .yAxisLabel:first-child {
    margin-top: 29px;
  }
  
  .yAxisLabel:last-child {
    align-self: start;
    margin: 28px 0 0 18px;
  }
  
  @media (max-width: 991px) {
    .yAxisLabel:last-child {
      margin-left: 10px;
    }
  }
  
  .chartImage {
    aspect-ratio: 3.01;
    object-fit: contain;
    object-position: center;
    width: fit-content;
    border-radius: 0;
    flex-grow: 1;
    flex-basis: 0;
  }
  
  @media (max-width: 991px) {
    .chartImage {
      max-width: 100%;
    }
  }
  
  .xAxis {
    align-self: end;
    display: flex;
    margin-top: 11px;
    gap: 24px;
    font-size: 9px;
    color: #838383;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    flex-wrap: wrap;
  }
  
  @media (max-width: 991px) {
    .xAxis {
      margin-right: 2px;
      white-space: initial;
    }
  }
  
  .xAxisLabel {
    flex-grow: 1;
  }