/* TopBar.module.css */
/* .topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
  }
   */
   .topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #ffffff; /* Light grey background */
    border-bottom: 1px solid #e0e0e0;
    width: 100%; /* Make sure it spans the full width */
    box-sizing: border-box; /* Include padding in width calculation */
  }
  .navbarContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; /* Or any desired maximum width */
    width: 100%;
    margin: 0 auto; /* Center the content */
  }
  .search {
    display: flex;
    align-items: center;
  }
  
  .search input {
    padding: 8px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    margin-right: 10px;
    width: 300px;
  }
  
  .search button {
    padding: 8px 15px;
    background-color: #00bfa5;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .userProfile {
    display: flex;
    align-items: center;
  }
  
  .userProfile span {
    margin-right: 10px;
  }
  
  .userProfile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }