.product-page {
  padding: 20px;
  max-height: 650px;
  overflow-y: auto;
  width: 65%;
  margin-bottom: -550px;
  margin-left: 200px;
  transform: translateY(-550px);
  color: #333;
}

.product-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 8px;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn {
  padding: 8px 16px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  margin-right: 10px;
  background-color: #00c2a8;
}

.btn-active {
  background-color: #27d8c3;
  color: white;
}

.view-options {
  display: flex;
  gap: 10px;
}

.product-contents {
  display: flex;
}

.product-lists {
  flex: 3;
  margin-right: 20px;
}

table {
  background-color: white;
  width: 50%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f8f8f8;
  font-size: 20px;
}
td {
  font-size: 18px;
}

tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.product-previews {
  flex: 1;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0);
}

.preview-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.btn-close {
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: #00c2a8;
}

.preview-content {
  background-color: #00c2a8;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.product-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-infos h3 {
  margin-top: 0;
}

.product-infos p {
  margin: 5px 0;
}
