.payment-page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.payment-content {
  display: flex;
  flex: 1;
}

.payment-table {
  flex: 2;
}

.payment-preview-product {
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
}
