/* StatisticPage.css */

.statistic-page {
  background-color: #f8f9fa;
  padding: 20px;
}

.overview .col-md-4 {
  margin-bottom: -270px;
  margin-left: 10px;
  margin-right: 600px;
  margin-top:2%;
 
}

.charts {
  margin-top: 20px;
}

.product-table {
  margin-top: 20px;
}

.best-selling-category {
  margin-top: 20px;
  margin-right: 0px;
<<<<<<< HEAD
  margin-left:650px;
=======
  margin-left:620px;
>>>>>>> 28f47f84ffbec8cbf831c5214112643810d4ff81
  margin-bottom: 0%;

  position:relative;
}

